body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow:hidden;
    font-family: "Oswald", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center, #312166 0%, #05104a 100%);
    
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 3%;
    background-color: #111111;
    max-width: 100vw;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(255, 255, 255,0.1);
}

#navbar h1{
    font-size: 25px;
}

#navbar span{
    color: white;
}

#navbar h1 a{
    text-decoration: none;
    color:crimson;
}

#navbar nav a{
    padding: 8px;
    text-decoration: none;
    color: white;   
    transition-duration: 500ms;
}

#navbar nav a:hover, #navbar nav a#active{
    color:crimson;
}